[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:compvisia/glfw.git
	ignore = dirty
[submodule "deps/glad"]
	path = deps/glad
	url = git@github.com:compvisia/glad.git
	ignore = dirty
[submodule "deps/stb"]
	path = deps/stb
	url = git@github.com:compvisia/stb.git
	ignore = dirty
