# Testing and Logging
test/
*.log
*.txt

# Coverage Files
*.gcno
*.gcda

# General
[Bb]uild*/

# Make
Makefile
*.make

# Binaries
bin/
*.exe
*.dll
*.o
*.a
*.so
*.lib
*.pri
*.exp
*.la
*.lai

# Intermediates
obj/
[Dd]ebug*/
[Rr]elease*/

# Intellij
.idea/
.fleet/

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
**.sln
**.csproj
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Excluding
!LICENSE
!CMakeLists.txt
