[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:compvisia/glfw.git
[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/compvisia/glad
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/compvisia/stb
