###########################
##### General Ignores #####
###########################

# Doygen
doc/
html/
latex/

# Testing and Logging
test/
*.log
*.txt

# Coverage Files
*.gcno
*.gcda

# IDE
.vs/
.idea/
.fleet/
.vscode/

# Binaries
bin/
*.exe
*.dll
*.o
*.a
*.so
*.lib
*.pri
*.exp

# Intermediates
obj/
[Dd]ebug*/
[Rr]elease*/

# Excluding
!LICENSE

#########################
##### Build systems #####
#########################

# General
[Bb]uild*/

# Make
Makefile
*.make

# Visual Studio
**.sln
**.csproj
**.vcxproj
**.vcxproj.filters
**.vcxproj.user